[defaults]
roles_path = roles/
collections_path = collections/
inventory = inventory
pipelining = True
interpreter_python = auto_silent
callbacks_enabled = ansible.posix.profile_tasks

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o StrictHostKeyChecking=no
